In [2]:
import pandas as pd

## Definir carpeta de salida

In [3]:
ruta_base = r"C:\Users\smp\OneDrive - Grupo JJChicolino\THE POWER\PROYECTOFINALEDA\data\output"

## Cargar datasets limpios

In [4]:
df4 = pd.read_csv(ruta_base + r"\ventas2024_limpio.csv")       # ventas
df5 = pd.read_excel(ruta_base + r"\presupuesto2024_limpio.xlsx")  # presupuesto

In [5]:
df4.head()
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33877 entries, 0 to 33876
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   codcompany           33877 non-null  int64
 1   idcustomer           33877 non-null  object
 2   fecha                33877 non-null  object
 3   idarticle            33877 non-null  object
 4   quantity             33877 non-null  float64
 5   saleamount           33877 non-null  float64
 6   costamount           33877 non-null  float64
 7   idpaymentmethod      33877 non-null  object
 8   documento            33877 non-null  object
 9   codcustomer          33877 non-null  int64
 10  cliente              33877 non-null  object
 11  codvouchertype       33877 non-null  int64
 12  tipoasiento          33877 non-null  object
 13  codproductline       33877 non-null  object
 14  macrofamilia         33877 non-null  object
 15  codproductfamily     33877 non-null  object
 16  familia              33877 non-null  object
 17  codproductsubfamily  33877 non-null  object
 18  subfamilia           33877 non-null  object
dtypes: float64(3), int64(3), object(13)
memory usage: 4.9+ MB

In [8]:
df5.head()
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6060 entries, 0 to 6059
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cod_empresa       6060 non-null   int64
 1   cod_macrofamilia  6060 non-null   object
 2   macrofamilia      6060 non-null   object
 3   codfamila         6060 non-null   object
 4   familia           6060 non-null   object
 5   codsubfamilia     6060 non-null   object
 6   subfamilia        6060 non-null   object
 7   tipo_cliente      6060 non-null   int64
 8   ventas_(€)        6060 non-null   float64
 9   margen_(€)        0 non-null      float64
 10  unidades          6060 non-null   float64
 11  mes               6060 non-null   object
 12  %_margen          0 non-null      float64
 13  mes.1             6060 non-null   object
 14  presupuesto_mes   6060 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 710.3+ KB

In [10]:
print("Columnas de df4 (ventas):")
print(df4.columns.tolist())

Columnas de df4 (ventas):
['codcompany', 'idcustomer', 'fecha', 'idarticle', 'quantity', 'saleamount', 'costamount', 'idpaymentmethod', 'documento', 'codcustomer', 'cliente', 'codvouchertype', 'tipoasiento', 'codproductline', 'macrofamilia', 'codproductfamily', 'familia', 'codproductsubfamily', 'subfamilia']

In [11]:
print("\nColumnas de df5 (presupuesto):")
print(df5.columns.tolist())

Columnas de df5 (presupuesto):
['cod_empresa', 'cod_macrofamilia', 'macrofamilia', 'codfamila', 'familia', 'codsubfamilia', 'subfamilia', 'tipo_cliente', 'ventas_(€)', 'margen_(€)', 'unidades', 'mes', '%_margen', 'mes.1', 'presupuesto_mes']

## Renombrar columnas para que coincidan

In [12]:
df4.rename(columns={
    'codcompany': 'cod_empresa',
    'codvouchertype': 'tipo_cliente',
    'quantity': 'unidades',
    'saleamount': 'ventas_(€)'
}, inplace=True)

In [13]:
df5.drop(columns=['mes.1'], inplace=True)

In [451]:
print("Columnas df4:", df4.columns.tolist())
print("Columnas df5:", df5.columns.tolist())

Columnas df4: ['cod_empresa', 'idcustomer', 'fecha', 'idarticle', 'unidades', 'ventas_(€)', 'costamount', 'idpaymentmethod', 'documento', 'codcustomer', 'cliente', 'tipo_cliente', 'tipoasiento', 'codproductline', 'macrofamilia', 'codproductfamily', 'familia', 'codproductsubfamily', 'subfamilia', 'mes']
Columnas df5: ['cod_empresa', 'cod_macrofamilia', 'macrofamilia', 'codfamila', 'familia', 'codsubfamilia', 'subfamilia', 'tipo_cliente', 'ventas_(€)', 'margen_(€)', 'unidades', 'mes', '%_margen', 'presupuesto_mes']

## Crear columna “mes” en ventas para poder hacer el merge

In [14]:
df4['fecha'] = pd.to_datetime(df4['fecha'], errors='coerce')

In [15]:
df4['mes'] = df4['fecha'].dt.month_name().str.lower()

In [16]:
print(df4.columns.tolist())
df4.info()

['cod_empresa', 'idcustomer', 'fecha', 'idarticle', 'unidades', 'ventas_(€)', 'costamount', 'idpaymentmethod', 'documento', 'codcustomer', 'cliente', 'tipo_cliente', 'tipoasiento', 'codproductline', 'macrofamilia', 'codproductfamily', 'familia', 'codproductsubfamily', 'subfamilia', 'mes']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33877 entries, 0 to 33876
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   cod_empresa          33877 non-null  int64
 1   idcustomer           33877 non-null  object
 2   fecha                33877 non-null  datetime64[ns]
 3   idarticle            33877 non-null  object
 4   unidades             33877 non-null  float64
 5   ventas_(€)           33877 non-null  float64
 6   costamount           33877 non-null  float64
 7   idpaymentmethod      33877 non-null  object
 8   documento            33877 non-null  object
 9   codcustomer          33877 non-null  int64
 10  cliente              33877 non-null  object
 11  tipo_cliente         33877 non-null  int64
 12  tipoasiento          33877 non-null  object
 13  codproductline       33877 non-null  object
 14  macrofamilia         33877 non-null  object
 15  codproductfamily     33877 non-null  object
 16  familia              33877 non-null  object
 17  codproductsubfamily  33877 non-null  object
 18  subfamilia           33877 non-null  object
 19  mes                  33877 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(3), object(13)
memory usage: 5.2+ MB

In [17]:
print(df5.columns.tolist())
df5.info()

['cod_empresa', 'cod_macrofamilia', 'macrofamilia', 'codfamila', 'familia', 'codsubfamilia', 'subfamilia', 'tipo_cliente', 'ventas_(€)', 'margen_(€)', 'unidades', 'mes', '%_margen', 'presupuesto_mes']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6060 entries, 0 to 6059
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cod_empresa       6060 non-null   int64
 1   cod_macrofamilia  6060 non-null   object
 2   macrofamilia      6060 non-null   object
 3   codfamila         6060 non-null   object
 4   familia           6060 non-null   object
 5   codsubfamilia     6060 non-null   object
 6   subfamilia        6060 non-null   object
 7   tipo_cliente      6060 non-null   int64
 8   ventas_(€)        6060 non-null   float64
 9   margen_(€)        0 non-null      float64
 10  unidades          6060 non-null   float64
 11  mes               6060 non-null   object
 12  %_margen          0 non-null      float64
 13  presupuesto_mes   6060 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 662.9+ KB

## Unificar valores de tipo cliente

In [18]:
df4['tipo_cliente'] = df4['tipo_cliente'].replace({
    '12': '11',
    '13': '11',
    '30': '10',
    '31': '10'
})

## Normalizar nombres de columnas en df4 (ventas) para que coincidan con df5

In [19]:
df4 = df4.rename(columns={
    'codcompany': 'cod_empresa',
    'quantity': 'unidades',
    'saleamount': 'ventas_(€)',
    'codvouchertype': 'tipo_cliente'
})

## Asegurarnos de que la columna 'mes' exista en df4 y esté en minúsculas

In [20]:
df4['mes'] = pd.to_datetime(df4['fecha']).dt.month_name(locale='es_ES').str.lower()

## Asegurar que 'tipo_cliente' sea del mismo tipo en ambos df

In [21]:
df4['tipo_cliente'] = df4['tipo_cliente'].astype(str)
df5['tipo_cliente'] = df5['tipo_cliente'].astype(str)

## Normalizar 'mes' en df5 a minúsculas también

In [22]:
df5['mes'] = df5['mes'].str.lower()

## Eliminar las filas de la subfamilia portes de ventas

In [23]:
df4 = df4[df4['subfamilia'].str.strip().str.upper() != 'PORTES']

In [24]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31730 entries, 0 to 33876
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   cod_empresa          31730 non-null  int64
 1   idcustomer           31730 non-null  object
 2   fecha                31730 non-null  datetime64[ns]
 3   idarticle            31730 non-null  object
 4   unidades             31730 non-null  float64
 5   ventas_(€)           31730 non-null  float64
 6   costamount           31730 non-null  float64
 7   idpaymentmethod      31730 non-null  object
 8   documento            31730 non-null  object
 9   codcustomer          31730 non-null  int64
 10  cliente              31730 non-null  object
 11  tipo_cliente         31730 non-null  object
 12  tipoasiento          31730 non-null  object
 13  codproductline       31730 non-null  object
 14  macrofamilia         31730 non-null  object
 15  codproductfamily     31730 non-null  object
 16  familia              31730 non-null  object
 17  codproductsubfamily  31730 non-null  object
 18  subfamilia           31730 non-null  object
 19  mes                  31730 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(2), object(14)
memory usage: 5.1+ MB

# Paso 5: Merge con left join para mantener todos los registros de ventas

In [25]:
df_final = pd.merge(
    df4,
    df5,
    on=['cod_empresa', 'subfamilia', 'tipo_cliente', 'mes'],
    how='left',
    suffixes=('_ventas','_presupuesto')
)

## Verificar dataframe final

In [26]:
print(df_final.shape)
df_final.head(10)

(44623, 30)

,cod_empresa,idcustomer,fecha,idarticle,unidades_ventas,ventas_(€)_ventas,costamount,idpaymentmethod,documento,codcustomer,...,cod_macrofamilia,macrofamilia_presupuesto,codfamila,familia_presupuesto,codsubfamilia,ventas_(€)_presupuesto,margen_(€),unidades_presupuesto,%_margen,presupuesto_mes
0,1,001-003451,2024-06-28,001-010a055050tr,86.0,1316.66,1316.66,95839b62-ccc4-4a70-a894-012c7d43a5bb,24A060136,3451,...,MF6,Envases y Embalajes,F33,Sacos y Mallas Extruidas,010,170.252632,NaN,4.281053,NaN,0.043516
1,1,001-003451,2024-01-31,001-010a055050tr,50.0,705.00,705.00,95839b62-ccc4-4a70-a894-012c7d43a5bb,24A010160,3451,...,MF6,Envases y Embalajes,F33,Sacos y Mallas Extruidas,010,170.252632,NaN,4.281053,NaN,0.052159
2,1,001-003451,2024-10-31,001-010a055050tr,5.0,76.55,76.55,95839b62-ccc4-4a70-a894-012c7d43a5bb,24A100186,3451,...,MF6,Envases y Embalajes,F33,Sacos y Mallas Extruidas,010,170.252632,NaN,4.281053,NaN,0.115589
3,1,001-003451,2024-10-31,001-010a073650az,3.0,62.37,62.37,95839b62-ccc4-4a70-a894-012c7d43a5bb,24A100186,3451,...,MF6,Envases y Embalajes,F33,Sacos y Mallas Extruidas,010,170.252632,NaN,4.281053,NaN,0.115589
4,1,001-003451,2024-11-29,001-010a073650az,11.0,228.69,228.69,95839b62-ccc4-4a70-a894-012c7d43a5bb,24A110174,3451,...,MF6,Envases y Embalajes,F33,Sacos y Mallas Extruidas,010,170.252632,NaN,4.281053,NaN,0.071314
5,1,001-003451,2024-06-28,001-010a073650az,10.0,207.90,207.90,95839b62-ccc4-4a70-a894-012c7d43a5bb,24A060141,3451,...,MF6,Envases y Embalajes,F33,Sacos y Mallas Extruidas,010,170.252632,NaN,4.281053,NaN,0.043516
6,1,001-003451,2024-05-31,001-010a073650az,2.0,38.24,38.24,95839b62-ccc4-4a70-a894-012c7d43a5bb,24A050105,3451,...,MF6,Envases y Embalajes,F33,Sacos y Mallas Extruidas,010,170.252632,NaN,4.281053,NaN,0.034062
7,1,001-003451,2024-09-30,001-010a073650az,4.0,83.16,83.16,95839b62-ccc4-4a70-a894-012c7d43a5bb,24A090148,3451,...,MF6,Envases y Embalajes,F33,Sacos y Mallas Extruidas,010,170.252632,NaN,4.281053,NaN,0.099323
8,1,001-003451,2024-03-27,001-010a073650az,3.0,57.36,57.36,95839b62-ccc4-4a70-a894-012c7d43a5bb,24A030141,3451,...,MF6,Envases y Embalajes,F33,Sacos y Mallas Extruidas,010,170.252632,NaN,4.281053,NaN,0.069538
9,1,001-003451,2024-07-31,001-010a073650az,3.0,62.37,62.37,95839b62-ccc4-4a70-a894-012c7d43a5bb,24A070143,3451,...,MF6,Envases y Embalajes,F33,Sacos y Mallas Extruidas,010,170.252632,NaN,4.281053,NaN,0.046094

In [27]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44623 entries, 0 to 44622
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   cod_empresa               44623 non-null  int64
 1   idcustomer                44623 non-null  object
 2   fecha                     44623 non-null  datetime64[ns]
 3   idarticle                 44623 non-null  object
 4   unidades_ventas           44623 non-null  float64
 5   ventas_(€)_ventas         44623 non-null  float64
 6   costamount                44623 non-null  float64
 7   idpaymentmethod           44623 non-null  object
 8   documento                 44623 non-null  object
 9   codcustomer               44623 non-null  int64
 10  cliente                   44623 non-null  object
 11  tipo_cliente              44623 non-null  object
 12  tipoasiento               44623 non-null  object
 13  codproductline            44623 non-null  object
 14  macrofamilia_ventas       44623 non-null  object
 15  codproductfamily          44623 non-null  object
 16  familia_ventas            44623 non-null  object
 17  codproductsubfamily       44623 non-null  object
 18  subfamilia                44623 non-null  object
 19  mes                       44623 non-null  object
 20  cod_macrofamilia          42120 non-null  object
 21  macrofamilia_presupuesto  42120 non-null  object
 22  codfamila                 42120 non-null  object
 23  familia_presupuesto       42120 non-null  object
 24  codsubfamilia             42120 non-null  object
 25  ventas_(€)_presupuesto    42120 non-null  float64
 26  margen_(€)                0 non-null      float64
 27  unidades_presupuesto      42120 non-null  float64
 28  %_margen                  0 non-null      float64
 29  presupuesto_mes           42120 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(2), object(19)
memory usage: 10.2+ MB

## Revisar nulos

In [30]:
df_final.isnull().sum()

cod_empresa                     0
idcustomer                      0
fecha                           0
idarticle                       0
unidades_ventas                 0
ventas_(€)_ventas               0
costamount                      0
idpaymentmethod                 0
documento                       0
codcustomer                     0
cliente                         0
tipo_cliente                    0
tipoasiento                     0
codproductline                  0
macrofamilia_ventas             0
codproductfamily                0
familia_ventas                  0
codproductsubfamily             0
subfamilia                      0
mes                             0
cod_macrofamilia             2503
macrofamilia_presupuesto     2503
codfamila                    2503
familia_presupuesto          2503
codsubfamilia                2503
ventas_(€)_presupuesto       2503
margen_(€)                  44623
unidades_presupuesto         2503
%_margen                    44623
presupuesto_mes              2503
dtype: int64

## Revisar duplicados

In [31]:
duplicados = df_final.duplicated()
print("Número de filas duplicadas:", duplicados.sum())

Número de filas duplicadas: 6536

In [32]:
df_final = df_final.drop_duplicates()

## Guardar dataframe final

In [33]:
df_final.to_csv(r"C:\Users\smp\OneDrive - Grupo JJChicolino\THE POWER\PROYECTOFINALEDA\data\output\final\df_final.csv", index=False)

In [470]:
df_final.to_excel(r"C:\Users\smp\OneDrive - Grupo JJChicolino\THE POWER\PROYECTOFINALEDA\data\output\final\df_final.xlsx", index=False)

In [34]:
import os

ruta_final = r"C:\Users\smp\OneDrive - Grupo JJChicolino\THE POWER\PROYECTOFINALEDA\data\output\final"
os.makedirs(ruta_final, exist_ok=True)